<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Available</a></li>
		        	<li><a href="/reserved">Reserved</a></li>
	        		<li><a href="/sold">Sold</a></li>
	        		<li><a href="/misc">Misc</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>

			</footer>
		</body>
	</html>
